.paginationControls {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: auto;
  margin-bottom: 1.5rem;
  &__buttons {
    margin: 0.5rem 0;
    display: flex;
    > button {
      margin: 0.5rem;
    }
  }
}
